{% extends "main-layout.html" %}

{% load i18n %}

{% block title %}{% trans "appname" %} - {% trans "Admin" %}{% endblock %}

{% block content %}

    <div>
        <div id="submenu">
            <ul id="subnavi">
                <li><a {% if section = 'catalog'%}class="current"{% endif %}href="/movies/">{% trans "Catalog" %}</a></li>
                {% if user.is_authenticated %}
                <li><a {% if section = 'wishlist'%}class="current"{% endif %}  href="/wishlist/">{% trans "I want to watch" %}</a></li>
                <li><a {% if section = 'recommendations'%}class="current"{% endif %}  href="/recommendations/">{% trans "Recommendations" %}</a></li>
                {% endif %}
                {% if user.is_staff %}
                <li style="font-weight: bold; float: right"><a {% if section = 'admin'%}class="current"{% endif %}  href="/movies/admin/">{% trans "Administration" %}</a></li>
                {% endif %}
                
            </ul>
        </div>
    </div>
    <div id="bread">
        {% include "breadcrumb.html"%}
    </div>
    
    {% include "movies-options.html"%}
    
    <div class="tablemovies">
        {% for item in movies.object_list %}
        {% include "items/row-item.html"%}
        {% endfor %}

        {% with movies as list %}
        {% with '/movies/admin/' as context %}
        {% include "paginator.html"%}
        {% endwith %}
        {% endwith %}
    </div>


    <div id="side">   
        {% if categories != None %}
        <div class="boxtop"></div>
        <div class="box">
            <h3>{% trans 'CATEGORIES'%}</h3>
            <!--INI DYNAMIC: Listado de Categoria-->
            {% for cat in categories %}
            <a href="/category/{{cat.id}}"> <span class="item"> <b>{{cat.name}}</b></span></a>
            {% endfor %}
            <!-- FIN DYNAMIC -->    
        </div>
        <div class="boxbottom"></div>
        {% endif %}
    </div>

{% endblock %}

