{% extends "catalog-movies.html" %}

{% load i18n %}

{% block title %}{% trans "appname" %} {% endblock %}

{% block contentcatalog %}

    <div class="maindatacontainer">

        <div class="tablemoviesfull">
            <div style="overflow: hidden;">
                <h3 style="float:left"></h3>
            </div>
            
            {% for item in movies.object_list %}
            {% include "items/row-item.html"%}
            {% endfor %}

            {% with movies as list %}
            {% with paginatorcontext as context %}
            {% include "paginator.html"%}
            {% endwith %}
            {% endwith %}

        </div>

    </div>

{% endblock %}

