<svg:svg width="100%" height="100%" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="pieChart"> 
	<svg:title>Diagrama de Sectors en SVG</svg:title> 
	<svg:desc>Demostracion d'un diagrama de sectors fet en SVG</svg:desc> 
	<svg:defs> 
		<svg:style type="text/css"> 
			path {
				stroke: white;
				stroke-width: 1px;
				stroke-linejoin: round;
			}
			#piece-1 path {
				fill: #c03;
			}
			#piece-2 path {
				fill: #6c0;
			}
			#piece-3 path {
				fill: #f33;
			}
			#piece-4 path {
				fill: #fc0;
			}
			#piece-5 path {
				fill: #6cc;
			}
			#piece-6 path {
				fill: #33f;
			}
			#piece-7 path {
				fill: #cc3;
			}
			#piece-8 path {
				fill: #09c;
			}
			#chart path:hover {
				fill-opacity: 0.8;
			}
		</svg:style> 
		<svg:filter id="drop-shadow"> 
			<svg:feGaussianBlur in="SourceAlpha" stdDeviation="2"/> 
		</svg:filter> 
	</svg:defs> 
	<svg:g transform="translate(10,10)"> 
		<svg:circle cx="100" cy="100" r="100" filter="url(#drop-shadow)" transform="translate(3, 3)" fill="rgb(120,120,120)"/> 
		<svg:g transform="rotate(0, 100, 100)" id="piece-1"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -200,1.4 z"/> 
		</svg:g> 
		<svg:g transform="rotate(179.172, 100, 100)" id="piece-2"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -92.7,99.7 z"/> 
		</svg:g> 
		<svg:g transform="rotate(264.996, 100, 100)" id="piece-3"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -29.3,70.7 z"/> 
		</svg:g> 
		<svg:g transform="rotate(309.996, 100, 100)" id="piece-4"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -10,43.6 z"/> 
		</svg:g> 
		<svg:g transform="rotate(335.844, 100, 100)" id="piece-5"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -2.4,21.6 z"/> 
		</svg:g> 
		<svg:g transform="rotate(348.336, 100, 100)" id="piece-6"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -0.7,11.6 z"/> 
		</svg:g> 
		<svg:g transform="rotate(354.996, 100, 100)" id="piece-7"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 0,1.4 z"/> 
		</svg:g> 
		<g transform="rotate(355.824, 100, 100)" id="piece-8"> 
			<svg:path d="M100,100 l100,0 a100,100 0 0,1 -0.3,7.3 z"/> 
		</svg:g> 
	</svg:g> 
</svg:svg>

